<div class="container-fluid">
    <h1>Book Management System</h1>

    <button  (click)= "goToAddBook()" type="button" class="btn-add btn btn-primary">Add Book</button>
    <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Thumbnail</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books">
            <th scope="row">{{book.id}}</th>
            <td>
                {{book.title}}
            </td>
            <td><img src={{book.thumbnail}} alt=""></td>
            <td class="button-contain">
                <button (click)= "goToBookDetail(book.id)" type="button" class="btn btn-primary">View</button>
                <button (click)= "goToEditBook(book.id)" type="button" class="btn btn-warning">Edit</button>
                <button (click)= "deleteBook(book.id)" type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>